{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span> Bistro_Test App</h1>
            </div>

            <div class="grid-block">
                <h2>Bonus Cards</h2>

                {% for flash_message in app.session.flashBag.get('notice') %}
                    <div class="flash-notice">
                        {{ flash_message }}
                    </div>
                {% endfor %}

                {{ grid(grid, 'APYDataGridBundle::blocks_js.jquery.html.twig') }}

            </div>

        </div>
    </div>
{% endblock %}

