{#{% extends 'default/index.html.twig' %}#}
{#{% extends 'base.html.twig' %}#}

{#{% block gridView %}#}

    {#<div id="grid">#}


        {{ grid(grid, 'APYDataGridBundle::blocks_js.jquery.html.twig') }}


    {#</div>#}
{#{% endblock %}#}